.champion-body {
  background: rgb(11, 11, 11);
  background: linear-gradient(
    326deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(66, 68, 93, 1) 62%,
    rgba(119, 89, 185, 1) 100%
  );
  background-attachment: fixed;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
